@font-face {
    font-family: 'boston';
    src: url(script/bostonbay.ttf);
}
@font-face {
    font-family: 'chesterfield';
    src: url(script/chesterfield.ttf);
}
.nav-item.active{
    padding-left: 13em;
}
.navbar-brand{
    padding-left: 2em;
    font-size: 3em;
    font-family: 'chesterfield';
}
.nav-link{
    color: #daa520!important;
    font-family: 'boston';
    font-size:1.2em;
}
#navbar0 {
    background-color: #8f44d5!important;
}